@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #0f172a; /* slate-950 */
  color: #f8fafc; /* slate-50 */
}

body {
  margin: 0;
  min-height: 100vh;
}
